! Set terminal to xrvt
URxvt*termName: rxvt-unicode
URxvt*secondaryScroll: false
URxvt*saveLines: 5000

! Install extensions
URxvt.perl-ext-common: default,clipboard,selection-to-clipboard,keyboard-select,matcher,url-select,resize-font

! Other settings
URxvt.matcher.button: 1
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

! Keyboard Select
URxvt.keysym.M-Escape: perl:keyboard-select:activate

! Borders
URxvt.internalBorder: 10
URxvt.iso14755: false
URxvt.iso14755_52: false

! Copy and Paste using Clipboard
! Install: urxvt-perls
URxvt.keysym.M-c: clipboard:copy
URxvt.keysym.M-v: clipboard:paste
URxvt.keysym.M-C-v: clipboard:paste_escaped

! Font resize
! Install: urxvt-resize-font-git
URxvt.keysym.C-Up: resize-font:bigger
URxvt.keysym.C-Down: resize-font:smaller
URxvt.keysym.C-equal: resize-font:reset
URxvt.keysym.C-slash: resize-font:show

! Remove scroll bar
*URxvt*scrollBar: False

! Change font size to 10
URxvt.font: xft:Inconsolata:size=10

! Nyquil by Poony from Dotshare.it
!
*background:    #151515
*foreground:    #C7C79D

! black
*color0:        #222222
*color8:        #666666

! red
*color1:        #ca637c
*color9:        #d9799b

! green
*color2:        #b7ce42
*color10:       #cce164

! yellow
*color3:        #f1ab57
*color11:       #dbd162

! blue
*color4:        #66aabb
*color12:       #aaccbb

! magenta
*color5:        #9f8fbc
*color13:       #c2a1ff

! cyan
*color6:        #7ea79f
*color14:       #9bc4bd

! white
*color7:        #C7C79D
*color15:       #e4e4b9

!Colored man pages
URxvt.colorIT:  #9f8fbc
URxvt.colorBD:  #9bc4bd
URxvt.colorUL:  #b7ce42
! vim: ft=xdefaults
